body {
    height: 100%;
    width: 100%;
    padding: 5px;
    padding-right: 15px;
}

table, tr, td {
    border: black solid 1px;
    border-collapse: collapse;
}

td {
    width: 5px;
    height: 3px;
}

#fileUpload {
    padding-bottom: 15px;
}

#output {
    padding-top: 15px;
}
